body {
  font-family: sans-serif;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

#app .alert {
  position: fixed;
  bottom: 0;
  left: 16px;
  width: auto
}

#app .dropdown-menu {
  min-width: 320px;
}